/*
line.scss
---------------------------------------------------------
A set of style rules for our page of line plots
for NDBC standard meteorological data
*/
/*
_elements.scss
---------------------------------------------------------
Style rules for specific elements on our pages
*/
div.parallax-container {
  height: 20rem; }

div.dark-mask {
  background-color: rgba(22, 21, 21, 0.35); }

.tabs .indicator {
  background-color: #5a10b8; }

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background: transparent; }

img.small {
  height: 50px; }
